Repository SketchClarkey/Chryso-form-v2: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit fix

chore: update devDependencies to latest versions for improved stability and features
  apps/client/src/components/analytics/AdvancedDashboard.tsx
  apps/client/src/components/analytics/TrendAnalysis.tsx
  apps/client/src/components/dataRetention/DataRetentionManager.tsx
  apps/client/src/components/mobile/MobileDashboard.tsx
  apps/client/src/components/mobile/MobileFormEditor.tsx
  apps/client/src/components/upload/EnhancedFileUploader.tsx
  apps/client/src/components/upload/FileUploader.tsx
  apps/server/src/models/User.ts
  apps/server/src/routes/reports.ts
  apps/server/src/routes/search.ts
  apps/server/src/routes/security.ts
  apps/server/src/routes/settingsRoutes.ts
  apps/server/src/routes/templates.ts
  apps/server/src/services/analyticsService.ts
  apps/server/src/services/emailTemplateService.ts
  apps/server/src/services/exportService.ts
  apps/server/src/services/savedSearchService.ts
  apps/server/src/services/searchService.ts
  apps/server/src/test/integration/worksites.integration.test.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npm audit fix

fix: update dev scripts to use 'node --import' for compatibility
  apps/server/package.json
Due: prettier --write, npm audit fix

fix: update dev scripts to remove 'node --import' for improved compatibility
  apps/server/package.json
Due: prettier --write, npm audit fix

docs: enhance CLAUDE.md with additional development commands and deployment instructions
  CLAUDE.md
Due: prettier --write

Refactor code structure for improved readability and maintainability
  .claude/settings.local.json
  apps/server/TYPESCRIPT_FIXES_SUMMARY.md
  apps/server/src/app.ts
  apps/server/src/index.ts
  apps/server/src/middleware/upload.ts
  apps/server/src/models/Dashboard.ts
  apps/server/src/models/DataRetentionPolicy.ts
  apps/server/src/models/Report.ts
  apps/server/src/routes/analytics.ts
  apps/server/src/routes/audit.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/dashboards.ts
  apps/server/src/routes/dataRetention.ts
  apps/server/src/routes/emailTemplateRoutes.ts
  apps/server/src/routes/filters.ts
  apps/server/src/routes/forms.ts
  apps/server/src/routes/reports.ts
  apps/server/src/routes/templates.ts
  apps/server/src/routes/uploads.ts
  apps/server/src/routes/users.ts
  apps/server/src/routes/worksites.ts
  apps/server/src/services/exportService.ts
  apps/server/src/services/schedulerService.ts
  apps/server/src/test/setup.ts
  apps/server/src/test/types/global.d.ts
  apps/server/src/types/express.ts
  apps/server/src/types/handlers.ts
  apps/server/tsconfig.json
  eslint.config.js
  package-lock.json
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, npm audit fix

Refactor authorization and user role handling across routes
  apps/server/src/middleware/auth.ts
  apps/server/src/models/CompliancePolicy.ts
  apps/server/src/models/Dashboard.ts
  apps/server/src/models/Template.ts
  apps/server/src/routes/auth.ts
  apps/server/src/routes/dataRetention.ts
  apps/server/src/routes/filters.ts
  apps/server/src/routes/reports.ts
  apps/server/src/routes/scheduler.ts
  apps/server/src/routes/search.ts
  apps/server/src/routes/security.ts
  apps/server/src/routes/settingsRoutes.ts
  apps/server/src/routes/templates.ts
  apps/server/src/routes/worksites.ts
  apps/server/src/services/auditService.ts
  apps/server/src/services/dashboardService.ts
  apps/server/src/services/dataRetentionService.ts
  apps/server/src/test/integration/forms.integration.test.ts
  apps/server/src/test/middleware/auth.test.ts
  apps/server/src/test/middleware/errorHandler.test.ts
Due: eslint --fix, prettier --write

fix: update type handling and improve compatibility across various routes and services
  apps/server/src/routes/filters.ts
  apps/server/src/routes/reports.ts
  apps/server/src/routes/scheduler.ts
  apps/server/src/routes/search.ts
  apps/server/src/routes/settingsRoutes.ts
  apps/server/src/routes/swagger.ts
  apps/server/src/routes/templates.ts
  apps/server/src/routes/uploads.ts
  apps/server/src/routes/worksites.ts
  apps/server/src/services/dashboardService.ts
  apps/server/src/services/exportService.ts
  apps/server/src/test/setup.ts
  apps/server/src/test/utils/testApp.ts
Due: eslint --fix, prettier --write

refactor: replace Grid with Grid2 for improved layout consistency across components
  apps/client/src/components/analytics/AdvancedDashboard.tsx
  apps/client/src/pages/Dashboard.tsx
  fix-grid-components.js
Due: eslint --fix, prettier --write

Refactor Grid components to use size prop for responsive layouts across multiple files
  apps/client/src/components/analytics/AdvancedDashboard.tsx
  apps/client/src/components/analytics/TrendAnalysis.tsx
  apps/client/src/components/audit/AuditLogViewer.tsx
  apps/client/src/components/audit/SecurityDashboard.tsx
  apps/client/src/components/dashboards/DashboardBuilder.tsx
  apps/client/src/components/dataRetention/DataRetentionManager.tsx
  apps/client/src/components/email/EmailTemplateEditor.tsx
  apps/client/src/components/email/EmailTemplateManager.tsx
  apps/client/src/components/email/EmailTemplatePreview.tsx
  apps/client/src/components/email/EmailTemplateStats.tsx
  apps/client/src/components/filters/FilterManager.tsx
  apps/client/src/components/filters/FilterPresets.tsx
  apps/client/src/components/forms/FormEditor.tsx
  apps/client/src/components/mobile/MobileDashboard.tsx
  apps/client/src/components/reports/ExportDialog.tsx
  apps/client/src/components/reports/ReportBuilder.tsx
  apps/client/src/components/reports/ReportList.tsx
  apps/client/src/components/reports/ReportScheduler.tsx
  apps/client/src/components/security/SecurityMonitoringDashboard.tsx
  apps/client/src/components/settings/CustomizationSettings.tsx
  apps/client/src/components/settings/FeatureSettings.tsx
  apps/client/src/components/settings/GeneralSettings.tsx
  apps/client/src/components/settings/IntegrationSettings.tsx
  apps/client/src/components/settings/SecuritySettings.tsx
  apps/client/src/components/settings/UserPreferences.tsx
  apps/client/src/components/templates/FieldEditor.tsx
  apps/client/src/components/templates/SectionEditor.tsx
  apps/client/src/components/templates/TemplateBuilder.tsx
  apps/client/src/components/templates/TemplateDetail.tsx
  apps/client/src/components/upload/EnhancedFileUploader.tsx
  apps/client/src/components/worksites/WorksiteForm.tsx
  apps/client/src/pages/AdvancedFiltering.tsx
  apps/client/src/pages/DashboardManager.tsx
  apps/client/src/pages/DashboardSettings.tsx
  apps/client/src/pages/Profile.tsx
  apps/client/src/pages/SearchDashboard.tsx
  apps/client/src/pages/SearchResults.tsx
  apps/client/src/pages/Settings.tsx
  apps/client/src/pages/Templates.tsx
Due: eslint --fix, prettier --write

Fix dependency versions and Node.js requirements
  .github/workflows/test.yml
  .nvmrc
  apps/client/package.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, npm audit fix

feat: initialize package configuration for chryso-form-v2 with workspaces and scripts
  apps/client/package.json
  apps/server/package.json
  package-backup.json
  package-lock.json
  package-minimal.json
  yarn.lock
Due: prettier --write, npm audit fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md,html,yml,yaml})
  npm audit fix: any of: package.json
